body {
    margin: 0px;
    box-sizing: border-box;
  }
  .section{
    width: 100%;
  }
  
  .container{
    width: 80%;
    margin: 0 auto;
  }
  
  .section__regis{
    background:rgba(33, 32, 32, 1);
    padding-top: 7px;
  }

.bloc{
    width: 50%;
    background: rgba(150, 51, 83, 0.50);
    height: auto;
    padding: 20px 0px;
}
.tests{
    background: rgba(150, 51, 83, 0.50);
    width: 573px;
    margin-left: 143.5px;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    cursor: pointer;
}
.test{
   
    cursor: pointer;
    text-align: center;
    padding-right: 20px;

   
}
button{
    border-radius: 20px;
    background: #D9D9D9;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 221px;
    height: 37px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
input{
    display: block;
    border-radius: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 371px;
    border: 0px;
    height: 37px;
    margin: 20px auto;
    padding: 5px;
}

.project-card {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-top: 0;
}

.project-card select {
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.project-card button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.project-card button:hover {
  background-color: #2980b9;
}


.edit-project-modal {
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%); /* Дополнительное центрирование */
  z-index: 1000; /* Убедитесь, что модальное окно выше других элементов */
  background-color: white; /* Фон модального окна */
  padding: 20px; /* Внутренние отступы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для лучшей видимости */
  /* Другие стили по желанию */
  width: 800px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 500; /* Меньше, чем у .edit-project-modal */
}

.test22{
  display: flex;
}

.section__header{
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
}

.header__logo{
color: #fff;
text-decoration: none;
font-size: 25px;
font-weight: 700;
}

.header__menu{
display: flex;
gap: 30px;
}
.header__menu a{
color: #fff;
text-decoration: none;
font-size: 22px;
}